<section class="restaurant-details">
  <%= image_tag @picture.url %>

  <h3><%= @restaurant.name %></h3>

  <p><strong>Address: </strong><%= @restaurant.address %></p>
  <p><strong>Phone: </strong><%= @restaurant.phone_number %></p>
  <p><strong>Description: </strong><%= @restaurant.description %></p>
 

  <div class="clear"></div>
</section>


<% if current_user %>
  <h4>Make a reservation at <%= @restaurant.name %></h4>
  <%= form_for [@restaurant, @reservation] do |f| %>
    <div class="field">
      <%= f.label :begin_time, 'When:' %>
      <%= f.select :begin_time, @restaurant.time_slots.map{|dt| [nice_datetime(dt), dt] } %>
    </div>
    <div class="field">
      <%= f.label :party_size %>
      <%= f.number_field :party_size, :value => 1, :min => 1 %>
    </div>
    <%= f.submit %>
  <% end %>
<% end %>