<%= link_to "Back to Resturants", restaurants_url %> | <%= link_to "Delete this Restaurant", @restaurant, method: :delete, data: {confirm: "Are you sure you want to delete this restaurant"} %>


<p><%= @restaurant.name %>, <%= @restaurant.address %>, <%= @restaurant.phone_number %>, <%= @restaurant.description %></p>
<%= image_tag @restaurant.picture %>

<h1>Make your reservation for below:</h1>

<%=form_for([@restaurant, @timeslot]) do |f| %>
  <div id="error_explanation">
    <h2><%= pluralize(@timeslot.errors.count, "error") %> prohbited from being saved: </h2>

    <ul>
      <% @timeslot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>

  <div class="date_time_field">
    <ul>
      <li>
        <%= f.label :year %><br>
        <%= f.select :year, [2013, 2014, 2015] %>
      </li>

      <li>
        <%= f.label :month %><br>
        <%= f.select :month, Array.new(12){|m| m+1}  %>
      </li>
 
      <li>
        <%= f.label :day %><br>
        <%= f.select :day, Array.new(31){|d| d+1} %>
        <%= f.date_select "thingy", "stuff" %>
      </li>
    </ul>

    <br>
    <div class="date_submit">
      <%= f.submit "Check Date" %>
    </div>
  </div>

<% end %>